<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "craft-2798848_1920.jpg" %>"><br><br>
  <p><a href="#about" class="btn btn-info">About RecPon !</a></p>
</section>
<section class="about" id="about">
  <h1>About RecPon !</h1>
  <p>
     RecPonは、テーマパークやお店などの名前募集サイトです。<br>
     みなさまの想いをカタチにするお手伝いをします。
  </p>
  <p>
     名前を募集することも応募することもできます。<br>
     ぜひみなさまの想いを発信し名前を募集しませんか？<br>
     アイデア豊富なあなた、名前を考えてみませんか？
  </p>
  <p>
     さあ始めましょう！！！<br><br>
     <a href="<%= recruitments_path %>" class="btn btn-info">募集・応募はこちら</a><br><br>
  </p>
</section>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
